body {
    font-family: 'Kantumruy Pro', sans-serif;
    margin: 0px;

}

h1 {
    font-size: 48px;
}

.ip {
    color: orange;
}

.open-color {
    color: orange;
}

section {
    display: flex;
}

.fist-half {
    width: 50%;
    margin: 20ps;
    margin-left: 20px;
    padding-left: 15%;
    padding: 5px;
}

.img-1 {
    width: 70%;
    padding-top: 20px;
}

.link {
    text-decoration: none;
    background-image: radial-gradient(tomato, orange);
    color: white;
    padding: 8px 12px;
    font-weight: 700px;
    border-radius: 7px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.img-2 {
    width: 65%;
    padding-left: 45px;
}

.width {
    width: 50%;
    padding-right: 5%;
}

.second-links {
    text-decoration: none;
    background-image: radial-gradient(BurlyWood, AntiqueWhite);
    color: black;
    padding: 8px 12px;
    font-weight: 700px;
    border-radius: 7px;
}